@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Stick+No+Bills:wght@200&display=swap');

body{
 background-color: burlywood;
}

.pealkiri {
    color: cadetblue;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 3rem; 
    text-align: center;
}

.tabel {
    text-align: center;
    border: 1rem solid rgb(19, 117, 112);
    margin: 1rem auto;   
}

.Nimekiri {
    margin: 3rem auto;
    width: 200px;
    
    
    
}
.Nimekiri div{
    margin: 1rem 5%;
    width: 400px;
    
}
.Nimekiri2 div{
    margin: 1rem 35%;
    width: 400px;


}

.Pilt {
    text-align: center;
}

.Fontcolor {
    color: rgb(253, 9, 9);
}

.Tabelicolor {
    color: blue;
}